.header {
}

.wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;

  max-width: 1920px;
  margin: 0 auto;
  padding: 27px 0;
}

.logo {
  color: black;
  font-size: 24px;
  font-family: 'Montserrat', sans-serif;
  margin-left: 40px;
}

.nav {
  display: flex;
  gap: 50px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.link {
  color: black;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  transition: 0.2s ease;
}

.link:hover {
  color: #b88e2f;
}

.contact {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-right: 40px;
}
.phone {
  margin: 0;

  color: black;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.socials {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.imageWrapper {
  position: relative;
  width: 30px;
  height: 30px;
  overflow: hidden;
}

.image {
  object-fit: contain;
}

@media screen and (max-width: 1312px) {
  .wrap {
    padding: 20px 0;
  }

  .nav {
    gap: 30px;
  }

  .logo {
    font-size: 20px;
  }

  .contact {
    flex-direction: column;
  }

  .phone {
    font-size: 17px;
  }

  .imageWrapper {
    width: 24px;
    height: 24px;
  }
}

@media screen and (max-width: 1024px) {
  .logo {
    display: none;
  }

  .contact {
    margin-right: 40px;
  }

  .nav {
    display: flex;
    gap: 30px;
    position: relative;
    left: 0;
    transform: translateX(0);
    margin-left: 40px;
  }
}
