.container {
  margin-top: 120px;

  @media (max-width: 768px) {
    margin-top: 0;
    padding: 60px 16px 0 16px;
  }
}

.wrap {
  display: flex;
  justify-content: center;
  gap: 25px;
  margin: 0 auto;
  max-width: 1820px;
  width: 100%;

  border-top: 2px solid #e4e4e4;
  font-family: 'Montserrat', sans-serif;
  color: #9c9c9c;
  padding: 45px 0;

  @media (max-width: 556px) {
    flex-direction: column;
    align-items: center;
  }
}

.link {
  font-family: 'Montserrat', sans-serif;
  color: #000000;
  text-decoration: none;
  text-align: center;
}

.link:hover {
  color: #b88e2f;
  cursor: pointer;
}
