.hero {
  background-image: url('/hero-background3.jpg');
  background-size: cover;
  background-position: center;
  width: 100%;
  max-height: 800px;
  height: 100vh;

  @media (max-width: 768px) {
    max-height: 80vh;
  }

  @media (max-width: 425px) {
    max-height: 60vh;
  }
}

.wrap {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  height: 100%;

  @media (max-width: 768px) {
    padding: 0 28px;
  }

  @media (max-width: 425px) {
    padding: 0 16px;
  }
}

.block {
  background-color: rgb(255, 243, 227);
  max-width: 540px;
  padding: 60px 40px;
  margin-right: 80px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
  border-radius: 12px;

  @media (max-width: 768px) {
    margin-right: 0;
    margin: 0 auto;

    padding: 40px 40px;
  }

  @media (max-width: 375px) {
    padding: 30px 20px;
  }
}

.title {
  margin: 0;
  margin-bottom: 20px;

  padding: 0;

  color: #b88e2f;
  font-size: 46px;
  font-family: 'Montserrat', sans-serif;

  @media (max-width: 768px) {
    font-size: 36px;
  }

  @media (max-width: 425px) {
    font-size: 26px;
  }
}

.time {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;

  color: black;
  font-family: 'Montserrat', sans-serif;

  @media (max-width: 425px) {
    font-size: 14px;
  }
}

.description {
  margin: 0;
  margin-bottom: 60px;
  padding: 0;

  color: black;
  font-family: 'Montserrat', sans-serif;

  line-height: 25px;

  @media (max-width: 425px) {
    font-size: 14px;
  }
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 50px;

  border: 1px solid transparent;

  background-color: #b88e2f;
  color: white;
  text-decoration: none;

  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  transition: 0.3s ease;

  @media (max-width: 425px) {
    width: 100%;
  }
}

.button:hover {
  background-color: white;
  border: 1px solid #b88e2f;
  color: #b88e2f;
  cursor: pointer;
}
