.services {
  padding: 120px 20px 0 20px;
}

.header {
  margin: 0;
  margin-bottom: 70px;
  text-align: center;

  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  font-size: 46px;
}

.wrap {
  display: grid;
  grid-template-columns: repeat(3, minmax(200px, 1fr));
  gap: 70px 40px;
  justify-content: space-between;
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card:hover > .title {
  color: #b88e2f;
}

.title {
  margin: 0;
  margin-top: 30px;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
}

.imageWrapper {
  position: relative;
  max-width: 400px;
  width: 100%;
  aspect-ratio: 400 / 550; /* Соотношение ширины к высоте как в макете */
  border-radius: 12px;
  box-shadow:
    0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  overflow: hidden;
}

.image {
  object-fit: cover;
}

@media (max-width: 1024px) {
  .wrap {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .wrap {
    grid-template-columns: 1fr;
    gap: 40px;
  }

  .imageWrapper {
    margin: 0 auto;
  }
}
