.container {
  box-sizing: border-box;
  padding: 120px 0 0 0;

  width: 100%;

  @media (max-width: 768px) {
    padding: 60px 16px 0 16px;
  }
}

.wrap {
  display: flex;

  justify-content: space-between;
  gap: 0 50px;
  margin: 0 auto;
  max-width: 1680px;

  padding: 0 24px;

  @media (max-width: 1024px) {
    flex-wrap: wrap;
    justify-content: center;
  }
}

.header {
  margin: 0;
  margin-bottom: 70px;
  text-align: center;

  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  font-size: 46px;

  @media (max-width: 768px) {
    margin-bottom: 36px;
  }
}

.imageWrapper {
  position: relative;
  width: 250px;
  height: 180px; /* Фиксированная высота для всех картинок */
  overflow: hidden;
}

.image {
  object-fit: contain;
}

@media (max-width: 768px) {
  .header {
    font-size: 36px;
  }
}

@media (max-width: 425px) {
  .header {
    font-size: 28px;
  }
}
