.workflow {
  padding: 120px 0 0 0;
}
.wrap {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 60px 0;
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

.header {
  margin: 0;
  margin-bottom: 70px;
  text-align: center;

  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  font-size: 46px;
}
