.workflow {
  padding: 120px 20px 0 20px;

  @media (max-width: 768px) {
    padding: 60px 16px 0 16px;
  }
}
.wrap {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 60px 60px;
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

.header {
  margin: 0;
  margin-bottom: 70px;
  text-align: center;

  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  font-size: 46px;

  @media (max-width: 768px) {
    margin-bottom: 36px;
  }
}

@media (max-width: 1024px) {
  .wrap {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .header {
    font-size: 36px;
  }
}

@media (max-width: 600px) {
  .wrap {
    grid-template-columns: 1fr;
    gap: 40px;
  }
}

@media (max-width: 425px) {
  .header {
    font-size: 28px;
  }
}
